
#root {
  width: 90%;
  margin: 0 auto;
  padding: .5rem;
  text-align: left;
} 

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #5c5d85;
  text-decoration: inherit;
}
a:hover {
  color: #af656f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  padding-bottom: 50vh;
}

h1 {
  font-weight: 100;
  font-size: 2.25rem;
  line-height: 1.1;
  color: rgb(48, 49, 49);
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h2 {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.1;
  color: rgb(52, 53, 55);
  text-shadow: 2px 2px 4px rgba(230, 203, 66, 0.5);
}

h3 {
  font-size: 1rem;
  color: rgb(92, 80, 77);
  text-shadow: 2px 2px 4px rgba(208, 211, 216, 0.5);
  margin: 5px;
}

p, li {
  color: rgb(73, 68, 68);
  font-size: .85rem;
}

span {
  color: black;
}

button {
  border: 2px solid rgb(201, 173, 12);
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: .35rem 1rem;
  font-size: .85rem;
  font-weight: 550;
  border-radius: 6px;
  margin: 8px;
}

button:hover {
  border-color: #a3a093;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

