
#root {
  width: 90%;
  margin: 0 auto;
  padding: .5rem;
  text-align: left;
} 

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #5c5d85;
  text-decoration: inherit;
}
a:hover {
  color: #af656f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  padding-bottom: 60vh;
}

h1 {
  font-weight: 100;
  font-size: 3.5em;
  line-height: 1.1;
  color: rgb(48, 49, 49);
  margin: 5px;
  padding-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h2 {
  font-weight: 100;
  font-size: 2.2em;
  line-height: 1.1;
  color: rgb(58, 103, 170);
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(63, 61, 61, 0.5);
}

h3 {
  font-size: 25px;
  color: rgb(92, 77, 77);
  margin: 8px;
}

p, li {
  color: rgb(73, 68, 68);
  font-size: 1em;
}

span {
  color: black;
}

button {
  border: 2px solid rgb(83, 79, 79);
  margin: 15px;
  padding: .25em 2.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  background-color: #eceff0;
  border-radius: 6px;
}
button:hover {
  border-color: #cfb831;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

