.kanban-card {
	background: white;
	border-radius: 8px;
	border: 0.5px solid #e0d8c8;
	border-left: 4px solid transparent;
	overflow: hidden;
}

/*---- Kanban cards info ---- */
.kanban-card-body {
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 6px;
	align-items: stretch;
	margin: 8px;
}

.kanban-card-title {
	font-size: 1.25rem;
	font-weight: 600;
	color: #3a3020;
	text-align: left;
	border-bottom: 1px solid rgb(206, 204, 204);
}

.kanban-card-pattern {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	margin: 3px;
	color: #585854;
}

.kanban-card-pattern.none {
	color: rgb(201, 97, 97);
}

/* Deadline Overdue outline card in red  */
.kanban-card-overdue {
	background: white;
	border-radius: 8px;
	border-left: 4px solid transparent;
	border: 4px solid rgb(197, 105, 105);
}

/* Deadline Due within 7 days outline card in yellow  */
.kanban-card-due-soon {
	background: white;
	border-radius: 8px;
	border-left: 4px solid transparent;
	border: 4px solid rgb(214, 169, 45);
}

.kanban-card-footer {
	padding: 0 10px 10px;
	text-align: right;
}

.kanban-card-status {
	color: rgb(16, 66, 99);
	font-size: .85rem;
	letter-spacing: .5px;	
	font-weight: 550;
	text-transform: uppercase
}

.kanban-card-select {
	width: 100%;
	font-size: 12px;
	margin: 8px 0;
	padding: 6px;
	border: 0.5px solid #d3d1c7;
	background: #f7f5f2;
	color: #2c2c2a;
	cursor: pointer;
	border-radius: 4px;
}

.proj-complete-time {
	color: rgb(134, 96, 12);
	font-size: 20px;
	text-align: center;
}